*{
    width: 99%;
    margin: auto;
    padding: 0.5%;

}

.tituloazul{
    color: rgba(11, 19, 134, 0.616)
}

.titulonaranja{
    color: rgba(255, 145, 0, 0.911)
}

.fondonegro{
    color: rgb(0, 0, 0)
}